body
{
    font-family: fantasy;
    display: inline-block;
}
.container
{
    border:solid lightgray 1px;
    padding:10px;
}
.required
{
    color:red;
}
table td
{
    width:50%;
    border-bottom:dashed lightgray 1px;
    padding:10px;
}
input,select,textarea
{
    width:300px;
    border:solid lightgray 2px;
    padding:10px;
    border-radius:5px;
}
button
{
    width:100%;
    padding:10px;
}
textarea
{
    border-radius:5px;
}